<div class="home row navbarPadding" style="min-height: 1000px; margin-top: 75px !important; margin-bottom: 25px !important;  background-image: url('../../../assets/images/locationsBg.png')">
  <div class="col-12 section4">
      <div class="section4-container container">
        <div class="col-12 section4-header">
            Locations
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 col-sm-12 section4-content">
            <span class="section4-contentHeader">Location 1</span>
            <img class="card-img-top ieImage"
              src="http://via.placeholder.com/300x300"
              alt="Location Picture">
            <div>Location Address</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quidem.</div>
          </div>
          <div class="col-12 col-lg-4 col-sm-12 section4-content">
            <span class="section4-contentHeader">Location 2</span>
            <img class="card-img-top ieImage"
            src="http://via.placeholder.com/300x300"
            alt="Location Picture">
            <div>Location Address</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quidem.</div>
          </div>
          <div class="col-12 col-lg-4 col-sm-12 section4-content">
            <span class="section4-contentHeader">Location 3</span>
            <img class="card-img-top ieImage"
            src="http://via.placeholder.com/300x300"
            alt="Location Picture">
            <div>Location Address</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quidem.</div>
          </div>
        </div>
      </div>
  </div>
</div>