<div id="home" class="home row navbarPadding">

  <div id="myCarousel" class="carousel slide col-12" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner testCarousel">

      <div class="carousel-item active" style="background-image: url('../../../assets/images/slide1.png')">
        <div class="container t-white t-bold carousel-item1">
          <div class="carousel-header">
            CONTENT HEADER
          </div>
          <div class="carousel-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime.
          </div>
          <button class="btn btn-primary carousel-button">ACTION BUTTON</button>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('../../../assets/images/slide2.png')">
        <div class="container t-bold carousel-item2">
          <div class="carousel-header">
            CONTENT HEADER
          </div>
          <div class="carousel-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime.
          </div>
          <button class="btn btn-primary carousel-button">ACTION BUTTON</button>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('../../../assets/images/slide3.png')">
        <div class="container t-bold carousel-item3">
          <div class="carousel-header">
            CONTENT HEADER
          </div>
          <div class="carousel-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime.
          </div>
          <button class="btn btn-primary carousel-button">ACTION BUTTON</button>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div id="section2" class="col-lg-6 col-sm-12 section2" style="padding-left: 0; padding-right: 0">
      <img src="../../../../assets/images/oranges.png" class="img" alt="AR Web Designs Restaurant Template Image">
      <div class="section2-container">
        <div class="section2-text-wrapper">
          <h1 class="section2-header">Short Title</h1>
          <span class="section2-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis delectus adipisci quisquam harum sed! Dolores tenetur voluptate maiores cupiditate nihil?
          </span><br/>
          <button class="btn btn-primary section2-actionButton" type="button">Action Button</button>  
        </div>
      </div>
  </div>
  <div class="col-lg-6 col-sm-12 section2" style="padding-left: 0; padding-right: 0;">
      <img src="../../../../assets/images/plate.png" class="img" alt="AR Web Designs Restaurant Template Image">
  </div>

  

  <div id="menu" class="col-12 section3">
    <div class="col-lg-12 section3-header">
      MENU
    </div>
    <div class="col-lg-12 section3-buttonContainer mb-5">
      <button class="btn btn-primary section3-categoryButton" (click)="filterCategory('category1')">Category 1</button>
      <button class="btn btn-primary section3-categoryButton" (click)="filterCategory('category2')">Category 2</button>
      <button class="btn btn-primary section3-categoryButton" (click)="filterCategory('sides')">Sides</button>
      <button class="btn btn-primary section3-categoryButton" (click)="filterCategory('drinks')">Drinks</button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 col-lg-3" *ngFor="let product of productPages[currentPage]">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top ieImage"
                    src="http://via.placeholder.com/400x400"
                    alt="{{product.name}}">
                <div class="card-body" style="text-align: center;">
                    <p class="mb-0" class="productName">{{product.name}}</p>
                    <p class="mb-0" class="productDescription">{{product.description}}</p>
                    <p class="mb-2" class="productPrice">{{product.price | currency}}</p>
                </div>
            </div>
        </div>

        <div class="col-12 text-center" *ngIf="renderPages">
          <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
  
                  <li class="page-item" [ngClass]="{'disabled': atBeginning}">
                      <a class="page-link" href="#start" aria-label="Previous"(click)="goToPrevious()">
                          Previous
                      </a>
                  </li>
  
                  <li class="page-item" *ngFor="let page of pages" [ngClass]="{'active': currentPage == page}">
                      <a class="page-link" href="#start" (click)="goToPage(page)">{{page}}</a>
                  </li>
  
                  <li class="page-item" [ngClass]="{'disabled': atEnd}">
                      <a class="page-link" href="#start" aria-label="Next"(click)="goToNext()">
                          Next
                      </a>
                  </li>
  
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-sm-12" style="padding-left: 0; padding-right: 0;">
      <img src="../../../../assets/images/plate2.png" class="img" alt="AR Web Designs Restaurant Template Image">
  </div>
  <div id="about" class="col-lg-6 col-sm-12 section2" style="padding-left: 0; padding-right: 0">
      <img src="../../../../assets/images/wood.png" class="img" alt="AR Web Designs Restaurant Template Image">
      <div class="section2-container">
        <div class="section2-text-wrapper">
          <h1 class="section2-header">About Us</h1>
          <span class="section2-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis delectus adipisci quisquam harum sed! Dolores tenetur voluptate maiores cupiditate nihil?
          </span><br/>
          <button class="btn btn-primary section2-actionButton" type="button">Action Button</button>  
        </div>
      </div>
  </div>
</div>