<div class="home row">

  <div id="myCarousel" class="carousel slide col-12" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner testCarousel">

      <div class="carousel-item active" style="background-image: url('../../../assets/images/slide1.png')">
        <div class="container text-center t-white t-bold"
          style="top: 50%; position: relative;">
          TEST CONTENT
        </div>
      </div>
      <div class="carousel-item " style="background-image: url('../../../assets/images/slide2.png')">
        <div class="container text-center t-white t-bold"
          style="top: 50%; position: relative;">
          TEST CONTENT 2
        </div>
      </div>
      <div class="carousel-item " style="background-image: url('../../../assets/images/slide3.png')">
        <div class="container text-center t-white t-bold"
          style="top: 50%; position: relative;">
          TEST CONTENT 3
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



  <div class="col-lg-6 col-sm-12 section2" style="padding-left: 0; padding-right: 0">
      <img src="../../../../assets/images/oranges.png" class="img" alt="AR Web Designs Restaurant Template Image">
      <div class="section2-container">
        <div class="section2-text-wrapper">
          <h1 class="section2-header">Short Title</h1>
          <span class="section2-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut est harum aperiam, sit at reprehenderit?
          </span><br/>
          <button class="btn btn-primary section2-actionButton" type="button">Action Button</button>  
        </div>
      </div>
  </div>
  <div class="col-lg-6 col-sm-12 section2" style="padding-left: 0; padding-right: 0;">
      <img src="../../../../assets/images/plate.png" class="img" alt="AR Web Designs Restaurant Template Image">
  </div>

  <!-- <div class="row" class="section3 text-center px-0">
    <div class="col-lg-12 section3Header">
      MENU
    </div>
    <div class="col-lg-12 section3ButtonContainer">
      <button class="btn btn-primary section3CategoryButton">Category 1</button>
      <button class="btn btn-primary section3CategoryButton">Category 2</button>
      <button class="btn btn-primary section3CategoryButton">Category 3</button>
    </div>
  </div> -->
</div>