/* You can add global styles to this file, and also import other style files */
.home{
    padding-top: 75px !important;
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0.5rem 1rem;
    color: #fff;
    background: linear-gradient(transparent, rgba(0,0,0,0.5));
}

.carousel{
    padding: 0 !important;
}
#myCarousel .carousel-item {
    overflow: hidden;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#myCarousel > .carousel-control {
    width: 30px;
    font-size: 40px;
    color: #fff;
    text-shadow: none;
    filter: none;
    opacity: 1;
}
#myCarousel > .carousel-control span {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    display: block;
}
.header-fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.footer-fixed{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
}
.testCarousel{
    height: 900px;
}
.sticky-header{
    background-color: #fff;
    border-bottom-color: #008aff;
}

.t-white{
    color: #fff;
}
.t-tomatoRed{
    color: #fe1400;
}
.t-bold{
    font-weight: bold;
}

.section2{
    width: 100%;
    display: grid;
}
.img{
    display: block;
    max-width: 100%;
    height: auto;
}
.section2-container{
    width: 100%;
    position: relative;
    margin-top: -50%;
    margin-bottom: 15%;
    padding: 0px 20%;
    border-radius: 10px;
}
.section2-text-wrapper{
    height: 100%;
    text-align: center;
    background: rgba(255,255,255,0.5);
    box-shadow: 10px 10px 60px 0 rgba(0, 0, 0, .75);
}
.section2-header{
    font-size: 4rem;
}
.section2-content{
    font-size: 1.65rem;
}
.section2-actionButton{
    border-radius: 15px !important;
    margin-top: 25px;
    font-size: 1.25rem !important;
}

@media (max-width: 1200px) {
    .testCarousel{
        height: 900px;
    }
}
@media (max-width: 992px) {
    .testCarousel{
        height: 700px !important;
    }
}
@media (max-width: 768px) {
    .testCarousel{
        height: 500px !important;
    }
}
@media (max-width: 576px) {
    .testCarousel{
        height: 300px !important;
    }
    .section2-container{
        padding: 0px 10% !important;
        margin-top: -57% !important;
        margin-bottom: 10% !important;
    }
    .section2-header{
        font-size: 2.25rem !important;
    }
    .section2-content{
        font-size: 1rem;
    }
    .section2-actionButton{
        margin-top: 10px !important;
        font-size: 1rem !important;
    }
}


