/* You can add global styles to this file, and also import other style files */
.navbarPadding{
    padding-top: 75px !important;
}
.home{
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-bottom: 25px !important;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0.5rem 1rem;
    color: #fff;
    background: linear-gradient(transparent, rgba(0,0,0,0.75));
}

.carousel{
    padding: 0 !important;
}
#myCarousel .carousel-item {
    overflow: hidden;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#myCarousel > .carousel-control {
    width: 30px;
    font-size: 40px;
    color: #fff;
    text-shadow: none;
    filter: none;
    opacity: 1;
}
#myCarousel > .carousel-control span {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    display: block;
}

.carousel-item1{
    top: 30%;
    height: 50%;
    color: #fff;
    text-align: left;
    position: relative;
}

.carousel-item2{
    top: 25%;
    height: 50%;
    color: #444;
    position: relative;
    text-align: center;
}

.carousel-item3{
    top: 25%;
    height: 50%;
    color: #fff;
    position: relative;
    text-align: right;
    /* padding-right: 0px !important;
    padding-left: 0px !important; */
}

.carousel-header{
    font-size: 5rem;
}
.carousel-text{
    font-size: 3rem;
}
.carousel-button{
    font-size: 1.5rem !important;
    border-radius: 25px !important;
    margin-top: 20px;
}

.companyFooter{
    text-align: center;
}
.companyFooter a{
    color: #fff !important;
}
.header-fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.footer-fixed{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
}
.testCarousel{
    height: 900px;
}
.sticky-header{
    background-color: #fff;
    border-bottom-color: #008aff;
}
.sticky-footer{
    margin-bottom: 50px;
    transition: all 0.7s ease-in-out;
}
.sticky-companyFooter{
    display: block;
    transition: all 0.7s ease-in-out;
}
.sticky-companyFooter a{
    color: #444 !important;
    transition: all 0.7s ease-in-out;
}
.sticky-companyFooter a:hover, .sticky-companyFooter a:focus{
    color: #008aff !important;
    transition: all 0.4s ease-in-out;
}

.t-white{
    color: #fff;
}
.t-tomatoRed{
    color: #fe1400;
}
.t-bold{
    font-weight: bold;
}

.section2{
    width: 100%;
    display: grid;
}
.img{
    display: block;
    max-width: 100%;
    height: auto;
}
.section2-container{
    width: 100%;
    position: relative;
    margin-top: -50%;
    margin-bottom: 15%;
    padding: 0px 20%;
    border-radius: 10px;
}
.section2-text-wrapper{
    height: 100%;
    text-align: center;
    padding: 0px 25px;
    background: rgba(255,255,255,0.5);
    box-shadow: 10px 10px 60px 0 rgba(0, 0, 0, .75);
}
.section2-header{
    font-size: 3.50rem;
    margin-bottom: 50px;
}
.section2-content{
    font-size: 1.25rem;
}
.section2-actionButton{
    border-radius: 20px !important;
    margin-top: 50px;
    font-size: 1.25rem !important;
}

.section3{
    text-align: center;
}

.section3-header{
    margin-top: 25px;
    font-size: 5rem;
}
.section3-categoryButton{
    margin: 10px 15px;
    width: 125px;
    border-radius: 20px !important;
}

.section4{
    text-align: center;
    margin-bottom: 80px;
}
.section4-container{
    /* width: 100%;
    position: relative;
    margin-top: -65%;
    margin-bottom: 15%;
    padding: 0px 20%;
    border-radius: 10px; */
}
.section4-header{
    font-size: 4.5rem;
    /* margin-top: 25px; */
}
.section4-contentHeader{
    font-size: 1.5rem;

}

.footer-buttonContainer i{
    padding: 0px 7px;
    font-size: 1.5rem;
}
.footer-links{
    text-align: right;
}
.footer-links a{
    color: #fff;
    padding: 0px 10px !important;
}
@media (max-width: 1200px) {
    .testCarousel{
        height: 900px;
    }
}
@media (max-width: 992px) {
    .testCarousel{
        height: 700px !important;
    }
}
@media (max-width: 768px) {
    .testCarousel{
        height: 500px !important;
    }
}
@media (max-width: 576px) {
    .testCarousel{
        height: 300px !important;
    }
    .section2-container{
        padding: 0px 10% !important;
        margin-top: -57% !important;
        margin-bottom: 10% !important;
    }
    .section2-header{
        font-size: 1.75rem !important;
        margin-bottom: 0 !important;
    }
    .section2-text-wrapper{
        padding: 0px 0px !important;
    }
    .section2-content{
        font-size: .8rem;
    }
    .section2-actionButton{
        margin-top: 10px !important;
        font-size: 1rem !important;
    }
    .footer-buttonContainer i{
        font-size: 1.15rem !important;
    }
    .carousel-header{
        font-size: 1.5rem !important;
    }
    .carousel-text{
        font-size: 1rem !important;   
    }
    .carousel-button{
        font-size: 1rem !important;
    }
    .carousel-item1{
        width: 80% !important;
    }
    .carousel-item3{
        padding-right: 25px !important;
        width: 80% !important;
    }
}


